*.coff

# Exclude binaries
code/bin/coff2noff
code/test/forkjoin
code/test/halt
code/test/matmult
code/test/printtest
code/test/shell
code/test/sort
code/test/testexec
code/test/testregPA
code/test/testyield
code/test/vectorsum
code/threads/nachos
code/userprog/nachos
code/test/testloop2
code/test/testloop3
code/test/testloop4
code/test/testloop5
code/test/shmtest
code/test/shmtest1
code/test/vmtest1
code/test/vmtest2

# Exclude log files
debug.log

# Exclude test files
test_executables

assignment1.txt
